body {
    background: rgba(10, 20, 40, 1);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 500px;
  }

div {
    will-change: transform;
}

#ui{
    transform-style: preserve-3d;
    .text{
        position: absolute;
        font-size: 15rem;
        color: #f1eee6;
        line-height: 15rem;
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px 0;
        mix-blend-mode: screen;
        transform-style: preserve-3d;
        @for $i from 1 through 26 {
            $key: $i - 1;
            $param: 5;
            &:nth-child(#{$i}){
                clip-path: polygon(
                  -30% + ($key * $param) 0,
                  -20% + ($key * $param) 0,
                  20% + ($key * $param) 100%,
                  0% + ($key * $param) 100%
                );
                animation: onde 2000ms $key * 200 - 1000ms ease-in-out infinite alternate;
            }
        }
    }
}

@keyframes onde {
    0%{
        transform: translate(-50%, -50%) scale(0.9) rotateX(20deg) rotateY(20deg) rotateZ(20deg);
        color: rgb(26, 62, 145);
    }
    100%{
        transform: translate(-50%, -50%) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        color: rgb(20, 209, 178);
    }
}